[Unit]
Description=Export apache via vsock port 80
After=apache2.service
BindsTo=apache2.service

[Service]
ExecStart=socat VSOCK-LISTEN:80,fork,reuseaddr TCP-CONNECT:127.0.0.1:80
Restart=on-failure

[Install]
WantedBy=multi-user.target
